/* Created by: Isaac Ip
* Created on: Feb 2024
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  font-family: monospace;
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(255, 255, 255);
}

img {
  width: 400px;
  height: 200px;
  border-radius: 200px / 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}